<?xml version="1.0"?>

<model>
  <name>my_drone</name>
  <version>1.0</version>
  <sdf version="1.6">my_drone.sdf</sdf>

  <author>
    <name>C. Mauricio Arteaga-Escamilla from "Robotica Posgrado" (YouTube channel)</name>
    <email>cmauricioae8@gmail.com</email>
  </author>

  <description>A custom quadcopter commanded by translational and rotational velocities in the body frame of the vehicle</description>
</model>
